:root {
  --font-family-main: sans-serif;
  --font-size-header: 26px;
  --spacing-medium: 20px;

  --color-white: #f8f8f8f0;
  --color-yellow: #ffff00;
  --color-dark-grey: #2d2d2d;
  --color-black: #000;

  --border-radius-small: 5px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-grey);
  font-family: var(--font-family-main);
}
